@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #e84545;
    --color-primary-rgb: rgb(232, 69, 69);
    --color-secondary: #444444;
    --color-background: #f4f4f4;
    --color-background-rgb: 0, 0, 0;
    --color-box-background: #f7f7f7;
}






/* ! start services part */

.services{
    /* background-color: aquamarine; */
    position: relative;
}

.services__title{
    text-align: center;
}
.title h2{
    font-size: 2rem;
    width: fit-content;
    margin: auto;
    font-weight: 700;
    position: relative;
}

.title h2::before{
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--color-primary);
    position: absolute;
    top: 20px;
    left: -40%;
}
.title h2::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--color-primary);
    position: absolute;
    top: 20px;
    right: -40%;
}

.services__content{
    /* border-top: 2px solid #E8E9E9; */
    position: relative;
}

.service-icon{
    position: relative;
}

.service-icon::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F8C7C7;
    position: absolute;
    top: 60px;
    right: 5px;
    z-index: 1;
}

.service-icon i{
    font-size: 3.5rem;
    color: #636669;
    position: relative;
    z-index: 2;
    width: fit-content;

}
.col-6{
    position: relative;
}


.col-6::after{
    content: "";
    width: 95%;
    height: 2px;
    background-color: #E8E9E9;
    position: absolute;
    top:0;
    right: 0;
}

.service-disc p{
    position: relative;
    font-size: 14px;
    width: fit-content;
}
/* .service-disc p::after{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F8C7C7;
    position: absolute;
    bottom: 5px;
    left: -50px;
    z-index: 1;
} */




.service-disc h4{
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
}

.service-disc h4:hover{
    color: var(--color-primary);
    cursor: pointer;
}

.service-disc h4::after{
    content: "";
    width: 20px;
    height: 2px;
    background-color: #E84545;
    position: absolute;
    top: -40px;
    left: -120px;
    z-index: 5;
}

/*! end services part */



























/* -----------------Pricing--------------- */


#Pricing h2 {
    position: relative;
    width: fit-content;
    text-align: center;
    margin: auto;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
}

.paragraph_space {
    margin-bottom: 7rem;
}


#Pricing h2::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 2.7rem;
    background-color: #e84545;
    top: 1.2rem;
    right: -50%;
}

#Pricing h2::before {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 2.7rem;
    background-color: #e84545;
    top: 1.2rem;
    left: -50%;

}

.col-4 {
    border-radius: 15px;
    box-shadow: 0 2px 22px -12px;
}

.mid {
    transform: scale(1.15);
    border: 2.5px solid #e84545;
    box-shadow: none;
    background-color: white;
}

.row h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

/* ----------free-------- */

.free_plan_icon {
    margin: 1.3rem 0 2rem 0;
    width: 6.181rem;
    height: 6.181rem;
    font-size: 2.013rem;
}

.free_plan_icon i {
    position: absolute;
    background-color: #e84545;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    z-index: 5;
}

.free_plan_icon::after {
    content: "";
    position: absolute;
    height: 5.375rem;
    width: 5.375rem;
    background-color: #f8cbcb;
    border-radius: 50%;
}

.free_plan_icon::before {
    content: "";
    position: absolute;
    height: 6.375rem;
    width: 6.375rem;
    background-color: #fdecec;
    border-radius: 50%;
}

.free_plan_price h4 {
    color: #e84545;
    font-size: 3rem;
    font-weight: 700;
}

.free_plan_price sub {
    font-size: 1.2rem;
    font-weight: 400;
    color: #a7a9ab;
}

.free_plan_price_text_container_list {
    list-style: none;
}

.free_plan_price_text_container_list i {
    font-size: 24px;
    color: #0a9856;

}
.free_plan_price_text_container_list_2 i {
    font-size: 24px;
    color: #bdbebf;
}

.free_plan_price_text_container_list p {
    color: #212529cc;
}

.free_plan_price_text_container_list_2 del {
    color: #bdbebf;
}

.btn {
    border: 1px solid rgba(0, 0, 0, .2) !important;
    border-radius: 3px !important;
    color: rgba(0, 0, 0, .7);
    font-weight: 600;
    padding: 10px 40px;
}

/* ---------business------- */

.business_plan_icon {
    margin: 1.3rem 0 2rem 0;
    width: 6.181rem;
    height: 6.181rem;
    font-size: 2.013rem;
}

.business_plan_icon i {
    position: absolute;
    background-color: #e84545;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    z-index: 5;
}

.business_plan_icon::after {
    content: "";
    position: absolute;
    height: 5.375rem;
    width: 5.375rem;
    background-color: #f8cbcb;
    border-radius: 50%;
}

.business_plan_icon::before {
    content: "";
    position: absolute;
    height: 6.375rem;
    width: 6.375rem;
    background-color: #fdecec;
    border-radius: 50%;
}

.business_plan_price h4 {
    color: #e84545;
    font-size: 3rem;
    font-weight: 700;
}

.business_plan_price sub {
    font-size: 1.2rem;
    font-weight: 400;
    color: #a7a9ab;
}

.business_plan_price_text_container_list {
    list-style: none;
}

.business_plan_price_text_container_list i {
    font-size: 24px;
    color: #0a9856;

}
.business_plan_price_text_container_list_2 i {
    font-size: 24px;
    color: #0a9856;
}

.business_plan_price_text_container_list p {
    color: #212529cc;
}

.business_plan_price_text_container_list_2 p {
    color: #212529cc;
}

.business_plan_buy_now button {
    color: white;
}


