@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --color-primary: #e84545;
    --color-primary-rgb: rgb(232, 69, 69);
    --color-secondary: #32353a;
    --color-background: #f4f4f4;
    --color-box-background: #f7f7f7;
}

